* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

/* My website fonts */
@font-face {
    font-family: myHeadersFont;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: myMainNav;
    src: url(./fonts/Lobster-Regular.ttf);
}

/* My main CSS */

html {
    font-size: 17px;
}

body {
    background-color: #2f2f2f;
    /* transition: background-image 2s ease-in-out; */
}

.container {
    margin: auto;
    width: 80%;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #f5a65d;
    font-family: myMainNav, serif;
    background-image: url("./img/black-linen.png");
    background-size: auto;
    border-bottom: 2px solid #e19e07;
}

nav .current a {
    color: #edddc2;
}

nav a {
    text-decoration: none;
    color: #2b2b2a;
    font-size: 25px;
    transition: color 0.6s;
}

.logo {
    height: 70px;
    position: absolute;
    left: 148px;
    cursor: pointer;
}

a:hover {
    color: #edddc2;
}

.main-navigation {
    float: right;
}

div.container li {
    list-style: none;
    display: inline;
    margin: 0px 25px;
    line-height: 80px;
}

/* End Nav */

.show1 {
    min-height: 700px;
    background: url("img/messy-pizza.jpg") no-repeat;
    background-size: cover;

}

.secondary-title {
    font-family: myHeadersFont, serif;
    /*"Bebas Neue";*/
    color: #edddc2;
    font-size: 3.95rem;
    margin: 90px;
    text-align: center;
    text-shadow: 3px 3px black;
    user-select: none;
    letter-spacing: 1.5px;
}

.leading-title {
    font-size: 2.8rem;
    font-family: myMainNav, serif;
    color: #f9c464;
    margin-top: 120px;
    text-align: center;
    text-shadow: 3px 3px black;
    user-select: none;

}

.description {
    font-family: "Libre Caslon Text", serif;
    color: #f9c464;
    font-size: 1.1875em;
    font-weight: bold;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.7em;
    max-width: 500px;
    user-select: none;
}

.line-title {
    font-size: 25px;
    font-family: myMainNav, serif;
    color: #e19e07;
    margin-top: 35px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 3px 3px black;
    user-select: none;
}
.first-img {
    margin-bottom: 20px;
}

.flex-conteiner {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    color: #edddc2;
    font-family: "Libre Caslon Text", serif;
    line-height: 1.7em;
}

.row-deals {
    /* margin: 25px; */
    align-items: center;
    flex: 1;
    flex-grow: inherit;
    justify-content: space-between;
}

.row-deals p {
    padding-top: 10px;
}

.row-deals h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.row-deals h3:first-of-type {
    font-size: 22px;
}

.what {
    text-align: center;
    margin: 25px 10px 40px 10px;
}

.what img {
    transition: transform .3s;
}

.what img:hover {
    transform:rotateZ(45deg);    
}

.what h3 {
    margin: 15px 0;
    font-size: 22px;
}

.what p {
    margin: 15px 0;
}

/* Footer */

.social-menu ul {
    padding: 0;
    margin-top: 40px;
    margin-left: -15px;
    display: flex;
    list-style-type: none;
}

social-menu ul li {
    margin: 0 15px;
}

.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li .fa:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 7px;
    border-radius: 50%;
    background-color: #ffb142;
    text-align: center;
    transition: 0.5s;
    transform: translate(0, 0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #0077b5;
}

footer {
    background: url("./img/black-linen.png"), #f5a65d;
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.footer-content h4 {
    margin-bottom: 20px;
}

.social-menu,
.footer-links,
.footer-questions {
    margin-top: 50px;
    width: 33%;
    font-size: 16px;
    font-family: "Libre Caslon Text", serif;
    color: #2b2b2a;
     /* align-items: center;  */
    line-height: 3.0em;
}
.footer-questions h4 {
    text-align: right;
}

.footer-questions ul li {
    text-align: right; 
    list-style: none;
    
}
.footer-questions a {
    text-decoration: none;
    color: #2b2b2a;
    transition: ease-in .5s;
    
}
.footer-questions a:hover {
    color: #ffb142;  
}

.footer-links {
    text-align: center;
}

/* .social-menu h4,
.footer-links h4, */

.contact-form input,
textarea {
    width: 320px;
    background: none;
    border-radius: 5px;
    border: 2px solid #ffb142;
    box-sizing: border-box;
    padding: 8px;
    margin: 20px 0;
    outline: none;
    display: block;
    transition: ease-out 0.4s;
}

.contact-form input:focus,
textarea:focus {
    border-color: #f7d0a8;
    box-shadow: 0 0 8px 0 #f7d0a8;
}

.contact-form button {
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 15px;
    background: #ffb142; 
    color: #2b2b2a;    
    font-weight: bold;
    padding: 12px 20px;
    width: 150px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
    font-family: "Libre Caslon Text", serif;
    transition: ease-out .6s;
}

.contact-form button:hover {
    background: #ffb76b;
    background: -moz-linear-gradient(top, #ffb76b 10%, #ff7c00 83%, #ff7f04 100%);
    background: -webkit-linear-gradient(top, #ffb76b 10%, #ff7c00 83%, #ff7f04 100%);
    background: linear-gradient(to bottom, #ffb76b 10%, #ff7c00 83%, #ff7f04 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb76b', endColorstr='#ff7f04', GradientType=0);
    color: whitesmoke;
    cursor: pointer;
}

::placeholder {
    color: #edddc2;
    font-family: "Libre Caslon Text", serif;
    font-style: italic;
}

.copyright {
    font-size: 15px;
    margin-top: 60px;
    text-align: center;
    padding: 40px;
    font-family: "Libre Caslon Text", serif;
    font-weight: bold;
    color: #2b2b2a;
}

/* End Footer */

/* Global */
.bg-2 {
    background: url("img/pitsa-11.jpg") no-repeat;
    min-height: 700px;
    background-size: cover;
}

.bg-2 h1 {
    font-family: myHeadersFont, serif;
    color: #edddc2;
    font-size: 3.94rem;
    float: right;
    padding-right: 20px;
    margin-top: 300px;
    letter-spacing: 1.9px;
    text-align: center;
    text-shadow: 3px 3px black;
    user-select: none;
}

/* ABOUT */
/* Menu */
.box-1,
.box-2 {
    margin: 35px 0px;
    color: #edddc2;
    font-family: "Libre Caslon Text", serif;
    line-height: 1.7em;
}

.box-1 h1 {
    font-style: italic;
    color: #e19e07;
}

.bg-3 {
    background: url(img/flying.png) no-repeat right;
    padding-bottom: 12%;
    background-attachment: fixed;
}

.section-1 {
    color: #edddc2;
    font-family: "Libre Caslon Text", serif;
    line-height: 1.7em;
}

.section-1 h3 {
    margin-bottom: 25px;
    margin-top: 35px;
    font-size: 35px;
}

#span-1 {
    font-style: italic;
    color: #e19e07;
    line-height: 2.5em;
    font-size: 35px;
}

.box-1 img {
    float: right;
    margin: 40px;
    border: 1px solid #edddc2;
    padding: 0;
}

.flex-con {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.about1 {
    background: url("img/people.png") no-repeat 50%;
    background-size: cover;
}

.overlay {
    background-color: #000;
    opacity: 0.4;
    height: 500px;
    overflow: hidden;
    margin-top: 50px;
}

.row {
    margin: 20px 15px 10px 0;
    flex: 25%;
}

.row h3 {
    margin-bottom: 20px;
    padding-right: 10px;
}

.row img {
    margin-bottom: 20px;
    transition: transform .5s ease-out;
}

.row p {
    padding-right: 25px;
}

.btn-menus {
    margin-bottom: 40px;
    margin-top: 20px;
}

.btn-menus a {
    padding: 15px 20px;
    margin-right: 25px;
    background-color: #2f2f2f;
    font-weight: bold;
    text-decoration: none;
    color: #e19e07;
    border: 1px solid #e19e07;
    border-radius: 5px;
    transition: .8s ease;
}

.btn-menus a:hover {
    cursor: pointer;
    color: #f8f8ff;
    background-color: #e19e07;
}

.row img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.btn-homepage {
    font-size: 20px;
    padding: 15px 20px;
    margin: 10px 0px 50px 500px;
    background-color: #e19e07;
    font-weight: bold;
    display:inline-block;
    outline: none;
    text-decoration: none;
    color: #2f2f2f;
    border: 1px solid #e19e07;
    border-radius: 5px;
    transition: .8s ease;
}
.btn-homepage:hover {
    cursor: pointer;
    color: #e19e07;
    background-color: transparent;
    
}
.book-table {
    background: url(img/HappyHour1-test1.jpg) no-repeat fixed;
    background-size: cover;
    min-height: 550px;
    margin-top: 50px;
}

.book-table h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 200px;
    margin-bottom: 13px;
    color:#f8f8ff;
    font-family: myMainNav, serif;
   
}
.book-table p{
    font-family: "Libre Caslon Text", serif;
    text-align: center;
    color: #f8f8ff;
    margin-bottom: 30px;
      
}

/* .row .middle {
    opacity: 1;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.row {
    position: relative; */

.current-b.current-b {
    color: #f8f8ff;
    background-color: #e19e07;
}

.hidden {
    display: none !important;
}

.contacts {
    background: url(img/location.jpg) no-repeat fixed 50%;
    background-size: cover;
    min-height: 520px;
    margin-top: 60px;
}
.style-center {
    text-align: center;
}
.box-1 h2 {
    margin: 20px 0;
}

.last-p {
    margin-bottom: 35px;
}

.style-left {
    margin-top: 40px;
}
.style-left img {
    flex: 1;
    margin: 45px 0 40px 15px;
}
.contact-form {
    margin-top: 40px;
}
.style-left p{
    padding-right: 52px;
}

#map {
    width: 100%;
    height: 450px;
    margin-top: 120px;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #e19e07;
    bottom: 30px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2b2b2a;
    font-size: 23px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    display: none;
    
}
.gotopbtn:hover {
    filter: brightness(80%);
}